.loader.flex-column.justify-content-center.align-items-center
    .progress-spinner.progress-spinner-double.progress-spinner-active
        .progress-spinner-inner
        .progress-spinner-inner
        .sr-only Caricamento...
include modalprivacy.pug