.loader.flex-column.justify-content-center.align-items-center
    .spinner-grow.text-primary(role="status")
        span.sr-only Loading...
    svg.mt-4(width="56", height="36")
        title Logo pagoPA
        use(href="/assets/icons/app.svg#pagopa-logo")