.modalwindow(id="modal-error")
    .d-flex
        h4.modalwindow__title 
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3
        p 
        .modalwindow__detail
            div Codice di errore per l’assistenza:
                br
                b.modalwindow__code 
            button.btn.btn-outline-primary.ml-auto(id="copy", data-code="") copia