.modalwindow(id="modal-wheredata")
    .d-flex
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3
        img.facsimile(src="/assets/img/payment-notice-pagopa.png", alt="Facsimile avviso di pagamento")