.modalwindow(id="modal-privacy")
    .d-flex
        svg.icon.ml-auto.modalwindow__close.cursor-pointer(aria-controls="modal-privacy", role="button", aria-label="Chiudi")
            title Chiudi modale
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3
        include ../privacypolicy/index.html