.modalwindow(id="modal-error")
    .d-flex
        h4.modalwindow__title Errore
        svg.icon.ml-auto.modalwindow__close.cursor-pointer
            title Chiudi
            use(href="/assets/icons/sprite.svg#it-close")
    .modalwindow__content.mb-3
        p(tab-index="1") 
        .modalwindow__detail
            div(tab-index="2") Codice di errore per l’assistenza:
                br
                b.modalwindow__code 
            button.btn.btn-outline-primary.ml-auto(id="copy", data-code="", aria-label="Copia codice di errore") copia