COMPOSE_PROJECT_NAME=io-functions-pay-portal

API_GATEWAY_PORT=80

FUNCTIONS_V2_COMPATIBILITY_MODE=true

REQ_USER_GROUPS=ApiProfileWrite
REQ_SERVICE_ID=MyServiceId
SERVICE_EMAIL=example@email.com

NODE_ENV=develop

IO_PAGOPA_PROXY_PROD_BASE_URL=http://pagopa-proxy:3001
IO_PAGOPA_PROXY_TEST_BASE_URL=http://pagopa-proxy:3001

MAILUP_ALLOWED_GROUPS=6,4
MAILUP_ALLOWED_LISTS=1,5
MAILUP_SECRET=f638dexxxxxxxxxxxx8812480
MAILUP_USERNAME=mXXXXXX
MAILUP_PASSWORD=XXXXXXX
MAILUP_CLIENT_ID=26XXXXXXXXXXXXXXXXXXXXXXXe

RECAPTCHA_SECRET=6dddddd0P7N0dddddTdd

IO_PAY_CHALLENGE_RESUME_URL=http://localhost:1234/response.html?id=idTransaction
IO_PAY_ORIGIN=http://localhost:1234/response.html?id=idTransaction
IO_PAY_XPAY_REDIRECT=http://localhost:1234/response.html?id=_id_&resumeType=_resumeType_&_queryParams_
IO_PAY_PORTAL_RECAPTCHA_SECRET=sLeMssssssssssssuu4

PAGOPA_BASE_PATH=/