COMPOSE_PROJECT_NAME=io-functions-pay-portal

API_GATEWAY_PORT=80

FUNCTIONS_V2_COMPATIBILITY_MODE=true

REQ_USER_GROUPS=ApiProfileWrite
REQ_SERVICE_ID=MyServiceId
SERVICE_EMAIL=example@email.com

NODE_ENV=develop

IO_PAGOPA_PROXY_PROD_BASE_URL=http://pagopa-proxy:3001
IO_PAGOPA_PROXY_TEST_BASE_URL=http://pagopa-proxy:3001
PAGOPA_BASE_PATH=/