.App {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  height: 350px;
  box-shadow: 0px 0px 22px rgb(82, 82, 82);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.validation {
  font-size: 1.5rem;
  margin: 1rem auto;
  color: #06c;
}

form {
  padding: 1.3rem;
  margin: 1rem auto;
  background-color: white;
  color: #06c;
  border-radius: 5px;
  width: 80%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button {
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.5rem .9rem;
  margin: 20px;
  border: 1px solid #06c;
  color: white;
  background: #06c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button:hover {
  color: #06c;
  background: white;
}

input {
  font-size: 1.1rem;
  padding: .5rem;
  border: 1px solid #CCC;
  box-shadow: 0px 0px 10px #EEE;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.App-header {
  display: flex;
  color: #06c;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

