doctype html
html(lang='it')
    - var languages = [{'label':'IT', 'full':'Italiano'},{'label':'EN', 'full':'English'}];
    head
        title Paga un avviso – IO, l’app dei servizi pubblici
        meta(robots="noindex, nofollow")
        link(href="scss/style.scss",rel="stylesheet")
        script(src="../node_modules/promise-polyfill/dist/polyfill.min.js")
        script(src="../node_modules/whatwg-fetch/dist/fetch.umd.js")
        script(src="../node_modules/abort-controller/dist/abort-controller.umd.js")
        script(src="https://www.google.com/recaptcha/api.js?render=6Ld3RKsaAAAAAAGZXFcPvzdl_lcTKKCv9SiIBtHX", async, defer)
        script(src="env-config.js")
        script(src="index.ts")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(version=version)
        include includes/favicons.pug
    body.page--index
        .main-wrapper.d-flex.flex-column
            // HEADER
            include includes/header.pug
            .main.flex-fill.container
                .row.justify-content-md-center
                    div(id="error").d-none 
                    div(id="activationError").d-none 
                    div(id="initCard", tabindex="0").windowcont.px-4.px-md-0
                        h1.h2 Cosa devi pagare?
                        p.reset-font-size.text-muted Inserisci i dati come riportato sull'avviso di pagamento
                        a(href="#", id="helpmodal").reset-font-size.text-decoration-none.font-weight-bold Dove trovo i dati?
                        .firstindexform 
                            form.my-5(id="firstindexform", role="form", aria-label="Cosa devi pagare?")
                                .form-group.my-2
                                    input.form-control(type="text", inputmode="numeric", placeholder="", name="paymentNoticeCode",  id="paymentNoticeCode", required,  aria-label="Codice Avviso, Inserisci 18 cifre", aria-invalid="false" )
                                    label(for="paymentNoticeCode") Codice Avviso
                                    .reset-flex-flow.text-muted.mt-1.custom-label--error(id="paymentNoticeCodeDesc", aria-hidden="true", tabindex="-1") Inserisci 18 cifre
                                .py-2
                                .form-group.my-2
                                    input.form-control(type="text", placeholder="", name="organizationId",  id="organizationId", required, aria-label="Codice Fiscale Ente Creditore, Inserisci almeno 11 caratteri", aria-invalid="false")
                                    label(for="organizationId") Codice Fiscale Ente Creditore
                                    .reset-flex-flow.text-muted.mt-1.custom-label--error(id="organizationIdDesc", aria-hidden="true", tabindex="-1") Inserisci almeno 11 caratteri
                                .my-5.text-muted
                                    p.mb-0 Premendo 'Continua' dichiari di aver letto e compreso l'
                                        a(href="#", id="privacy") Informativa Privacy e i Termini e condizioni d’uso del servizio.
                                    p Form protetto tramite reCAPTCHA e Google (
                                        a(href="https://policies.google.com/privacy", target="_blank", title="Privacy Policy Google") Privacy Policy 
                                        span e 
                                        a(href="https://policies.google.com/terms", target="_blank", title="Termini e condizioni Google") Termini di servizio
                                        span ).
                                .windowcont__bottom
                                    .container
                                        .windowcont__bottom__wrap.d-flex
                                            button.btn.btn-primary.btn-sm.flex-grow-1(type="submit", data-lang="cta.continue", id="verify", disabled) Continua
                    div(id="stateCard", tabindex="1", aria-hidden="true", aria-live="polite").windowcont.px-4.px-md-0.d-none
                        .h2 Avviso di pagamento
                        p.reset-font-size.text-muted pagoPA aggiorna automaticamente l’importo per assicurarti di aver pagato esattamente quanto dovuto ed evitarti così more o altri interessi.
                        .stateCard__detail.check
                            .windowcont__totamount.d-flex.align-items-end.border-bottom.border-bottom-gray.py-2
                                .h5 Importo aggiornato
                                .h4.ml-auto(id="importo") 
                            .windowcont__ec.py-2.mt-2.border-bottom.border-bottom-gray.reset-font-size
                                div.text-muted Ente Creditore
                                div.font-weight-bold(id="ec") 
                            .windowcont__caus.py-2.mt-2.border-bottom.border-bottom-gray.reset-font-size
                                div.text-muted Causale
                                div.font-weight-bold.text-break(id="causale") 
                            .windowcont__cfec.py-2.mt-2.border-bottom.border-bottom-gray.reset-font-size.d-flex
                                div.text-muted Codice Fiscale Ente Creditore
                                div.font-weight-bold.ml-auto(id="cf-pa")
                            .windowcont__bottom
                                .container
                                    .windowcont__bottom__wrap.d-flex
                                        a.btn.btn-outline-primary.btn-sm.mr-2(href="#", data-lang="cta.cancel", id="back") Indietro
                                        button.btn.btn-primary.btn-sm.flex-grow-1(type="submit", data-lang="cta.continue", id="active") Paga questo avviso

                                        

                                        

            // FOOTER
            include includes/footer.pug
            include includes/modal.pug
            include includes/modalerror.pug