doctype html
html(lang='it')
    - var languages = [{'label':'IT', 'full':'Italiano'},{'label':'EN', 'full':'English'}];
    head
        include includes/head.pug
        meta(robots="noindex, nofollow")
        link(href="scss/style.scss",rel="stylesheet")
        script(src="../node_modules/promise-polyfill/dist/polyfill.min.js")
        script(src="../node_modules/whatwg-fetch/dist/fetch.umd.js")
        script(src="../node_modules/abort-controller/dist/abort-controller.umd.js")
        include includes/favicons.pug
    body.page--index
        .main-wrapper.d-flex.flex-column
            // HEADER
            include includes/header.pug
            .main.container
                .row
                    .col-12.col-md-6.offset-md-3
                        include privacypolicy/index.html

            // FOOTER
            include includes/footer.pug